@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
    position: relative;

}




.home ul li {
    width: 16px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: 700;

}

.library {
    min-height: 80vh;
    position: relative;
}

.heading img {
    width: 30px;
}


.heading {
    padding: 23px 14px;
    align-items: center;
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: lighter;
    font-size: 13px;
}


.right {
    margin: 16px 0;
}

.footer {
    display: flex;
    font-size: 13px;
    gap: 13px;
    position: absolute;
    bottom: 5px;
    padding: 10px;
}



.footer a {
    color: grey;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    background-color: rgb(34 34 34);
    height: auto;
}

.header>* {
    padding: 20px;
}

.spotify-playlists {
    padding: 16px;
    


}

.spotify-playlists h1 {
    padding: 16px;


}

.card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0px;
    max-height: 65vh;
    overflow-y: auto;
    margin: 10px;

}

.card {
    padding: 16px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.3s ease-in;
    height: 350px;
  


}

.card p {
    font-size: 15px;
}



.card>* {
    padding-top: 7px;
}

.card img {
    width: 100%;
    object-fit: cover;
height: 60%;
object-position: top;
}

.card .button {
    width: 40px;
    position: absolute;
    top: 165px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.card:hover{
    background-color: #474747;
    cursor: pointer;
    --a:1;
}

.buttons>* {
    margin: 0 12px;
}

.signup-btn {
    background-color: rgb(34 34 34);
    border: none;
    outline: none;
    color: rgb(184, 181, 181);
    font-weight: bold;
    font-size: 16px;
}

.signup-btn:hover {
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.login-btn {
    background-color: white;
    border-radius: 50px;
    width: 80px;
    padding: 8px;
    border: none;
    outline: none;
    color: rgb(14, 12, 12);
    font-weight: bold;
    font-size: 16px;
}

.login-btn:hover {

    cursor: pointer;
    font-weight: bold;
    background-color: rgb(243, 240, 240);
    font-size: 16.5px;

}

.playbar {
    position: fixed;
    bottom: 29px;

    background-color: #dad5d5;
    width: 90%;
    padding: 12px;
    width: 72vw;
    border-radius: 15px;
    min-height: 40px;

}


.song-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: -8px;

}

.song-buttons img {
    cursor: pointer;
}

.song-list {
    height: 550px;
    overflow: auto;
    margin-bottom: 100px;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    height: 30px;
    width: 30px;

}

.song-list ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 12px;
}

.info {
    font-size: 13px;
    width: 344px;
}

.song-list ul li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style-type: decimal;
    padding: 14px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 2px 0;/
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    white-space: nowrap;
    /* Prevents text from breaking into a new line */
    margin-right: 10px;
}


.playnow img {
    width: 30px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background-color: black;
    position: absolute;
    bottom: 13px;

    border-radius: 10px;

    cursor: pointer;
    transition: height ease-in 1ms;
}

.seekbar:hover {
    height: 7px;
}

.circle {
    width: 17px;
    height: 17px;
    background-color: black;
    border-radius: 50px;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.song-info,
.song-time {
    color: black;
    font-size: 15px;
    padding: 0 12px;

}

.volume-cont {
    width: 280px;
    text-align: right;
    justify-content: space-around;
    align-items: center;

}



.song-info {
    width: 150px;
}

.above-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 15px;
}

.close {
    display: none;
}

.volume {
    display: flex;
    gap: 10px;
    align-items: center;
}

.volume img {
    width: 25px;
    cursor: pointer;
}

.volume input{
    width: 70px;
    cursor: pointer;
}

@media (max-width:1200px) {
    .left {
        width: 387px;
        background-color: black;
        position: absolute;
        left: -150%;
        transition: all ease-out 0.5s;
        z-index: 1;
        padding: 0;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 55px);

    }

    .hamburger {
        display: block;
    }

    .arrow-buttons {
        display: none;
    }

    .close {
        display: block;
        position: absolute;
        right: 40px;
        top: 23px;
        width: 40px;
    }

    .seekbar {
        width: calc(100vw - 65px);
    }

    .font {
        font-size: 17px;
        text-align: center;
        margin-top: 5px;
    }

    .above-bar {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .song-buttons {
        margin-bottom: -5px;
    }

    .card {
        width: 90vw;
        height: 500px;
    }

    .card img{
       
            width: 100%;
            object-fit: cover;
        height: 80%;
        object-position: top;

    }

    .card-container {
        margin: 10px;
        justify-content: center;
       
        
    }

    .right {
        margin: 0;
    }
    .volume-cont{
       display: flex;
     flex-direction: column;
     gap: 10px;
     margin-top: 10px;
margin-right: -12px;
    
    }
    .volume{
        display: flex;
        justify-content: right;
    }
    .volume input{
        width: 70px;
    }
    .card .button {
      
        position: absolute;
        top: 360px;
        right: 17px;
    
    }
}

@media (max-width:400px){
    .card{
        width: 80vw;
    }
}